.navbar{
  background-color: rgb(88, 178, 223)
}
body {
  background-color: rgb(242, 248, 250);
}

/* Estilo para los enlaces de navegación */
.navbar-links {
  display: flex;
  align-items: center;
  margin-left: auto; /* Alinea a la derecha */
}

.navbar-links a,
.navbar-links button {
  font-size: 1.2rem;
  margin-left: 1.2rem;
  color: #212529;
  text-decoration: none;
  transition: color 0.3s ease;
  font-weight: 500;
}

/* Hover azul con subrayado */
.navbar-links a:hover,
.navbar-links button:hover {
  color: #0d6efd;
}

/* Estilo para el botón de logout */
.navbar-links button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}